@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background:darkgoldenrod;
}


/*---------- CONTENT AREA ----------*/

.col-1 {
  width: 100%;
  height: 320px;
  float: left;
}


#column-1 {
  background: olive;
}

#column-2 {
  background: darkolivegreen;
}

#column-3 {
  background: olivedrab;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: bisque;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: plum ;
  }

  .col-1 {
    width: 50%;
    height: 320px;
    float: left;
  }

  #column-1 {
    background-color: darkslateblue;
  }

  #column-2 {
    background-color: blueviolet;
  }

  #column-3 {
    background-color:thistle;
    width: 100%;
  }

  footer {
    background-color:darkorchid;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color:indianred;
  }

  .col-1 {
    width: 33.33%;
    height: 320px;
    float: left;
  }

  #column-1 {
    background-color: firebrick;
  }

  #column-2 {
    background-color: darkred;
  }

  #column-3 {
    background-color:crimson;
    width: 33.33%;
  }

  footer {
    background-color:mediumvioletred;
  }
   
}
